<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oaec.cms.mapper.RoleMapper">
    <select id="query" parameterType="map" resultType="role">
        SELECT role.*,department.name depName FROM role,department WHERE role.department_id=department.department_id
        <if test="name!=null">
            AND role.name like CONCAT('%',#{name},'%')
        </if>
        <if test="status!=null">
          AND role.status=1
        </if>
    </select>
    <insert id="doInsert" parameterType="role" useGeneratedKeys="true" keyProperty="roleId">
        INSERT INTO role (name, description, department_id) VALUES (#{name},#{description},#{departmentId})
    </insert>
    <insert id="doInsertRolePermission" >
        INSERT INTO role_permission (role_id, permission_id) VALUES (#{roleId},#{permissionId})
    </insert>
    <update id="doUpdate">
        UPDATE role SET name=#{name},description=#{description},department_id=#{departmentId} WHERE role_id = #{roleId}
    </update>
    <delete id="doDeleteRolePermission">
        DELETE FROM role_permission WHERE role_id = #{roleId}
    </delete>
    <update id="doDelete">
        UPDATE role SET status = 0 WHERE  role_id = #{roleId}
    </update>
    <update id="doNotDelete">
        UPDATE role SET status = 1 WHERE  role_id = #{roleId}
    </update>



</mapper>